body{
  background-color: rgb(6, 5, 14);
}
header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.section-1 {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border: 2px dotted #f50f82;
}
.section-2  {
  width: 100%;
  height: 89vh;
  max-width: 1000px;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  display:block;
  justify-content: space-around;
  border: 2px dotted #22f50f;
}

figure,
figure img {
  display: block;
  margin: auto;
  width: 450px;
  height: 500px;
}
figcaption{
  font-size: 2rem;
  text-align: center;
  color: #f79fcb;
}

#fig {
  background: url(../1.png) center no-repeat;
  background-size: cover;
}
#fig:hover {
  background: url(../2.png) center no-repeat;
  background-size: cover;
}
